@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ececec;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@font-face {
  font-family: BNazanin;
  src: url(/fonts/BNazanin.eot) format("eot"),
    url(/fonts/BNazanin.woff) format("woff"),
    url(/fonts/BNazanin.ttf) format("truetype"),
    url(/fonts/BNazanin.svg) format("svg");
}
@font-face {
  font-family: "font-icon";
  src: url("/fonts/font-icon.ttf");
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container.theme-white div {
  background: white !important;
}
.container.theme-black div {
  background: black !important;
}
body {
  font-family: BNazanin !important;
  direction: rtl;
  position: relative;
  transition: all ease 300ms;
}
.menu {
  @apply absolute top-full !translate-y-2 left-1/3 bg-black/75 rounded-sm z-50;
}
.menu.block {
  animation: menu ease 500ms 1 forwards alternate;
}
.selectTheme {
  @apply h-14 w-14 rounded-full flex items-center justify-center cursor-pointer text-3xl;
}

.selectTheme.active {
  @apply border-4 border-slate-500
}

.typographySettings {
  @apply border border-slate-400 flex-grow flex items-center justify-center cursor-pointer;
}

@keyframes menu {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.full-screen {
  max-width: 90vw !important;
}

.ball {
  animation: loading infinite 700ms ease-out alternate;
}
.ball:nth-child(1){
  animation-delay: 0;
}
.ball:nth-child(2){
  animation-delay: 220ms;
}
.ball:nth-child(1) {
  animation-delay: 500ms;
}

@keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}