@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ececec;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: BNazanin;
  src: url(/fonts/BNazanin.eot) format("eot"),
    url(/fonts/BNazanin.woff) format("woff"),
    url(/fonts/BNazanin.ttf) format("truetype"),
    url(/fonts/BNazanin.svg) format("svg");
}
@font-face {
  font-family: "font-icon";
  src: url("/fonts/font-icon.ttf");
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  direction: ltr;
  position: relative;
}
.container.theme-white div {
  background: white !important;
}
.container.theme-black div {
  background: black !important;
}
